body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1000px;
}

header {
    padding: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.close-button,
.notification-button{
    background-color: #1a1a1a;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.close-button img,
.notification-button img{
    height: 30px;
    width: 30px;
}

.notification-counter {
    display: inline-block;
    background-color: #D21312;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-left: -25px;
    margin-bottom: 25px; 
}

.jugadores-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 60px;
    padding: 20px;
    place-items: center;
}

.jugador-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #232323;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    transition: background-color 0.3s;
}

.jugador-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.jugador-info {
    text-align: center;
}

.jugador-card:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background-color: #1a1a1a;
    margin: 3% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: #fff;
}

.cerrar-modal {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#notificacionesList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#notificacionesList li {
    background-color: #282828;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

#notificacionesList li::before {
    content: '\2022';
    color: #D21312;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}

#verPartidosBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#verPartidosBtn:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
    height: 70px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 320px) {
    header h1{
        font-size: 1.3rem;
        width: 50px;
        text-align: center;
    }
    .jugadores-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    header {
        padding: 2rem;
        gap: 50px;
    }
    .jugadores-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

